@model User

@{
    ViewData["Title"] = Model.FirstName;
}

<div class="col-3">
    <form asp-action="Delete" asp-controller="Teacher" method="post">
        <div class="form-group ">
            <label asp-for="UserId"></label>
            <input asp-for="UserId" class="form-control" id="readOnlyInput" readonly="" type="text" />
        </div>
        <div class="form-group ">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" type="text" readonly=""/>
        </div>
        <div class="form-group ">
            <label asp-for="MidName"></label>
            <input asp-for="MidName" class="form-control" type="text" readonly=""/>
        </div>
        <div class="form-group ">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" type="text" readonly=""/>
        </div>
        <div class="form-group ">
            <label asp-for="IsTeacher"></label>
            <input asp-for="IsTeacher" class="form-check" type="checkbox" readonly=""/>
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </form>
</div>
