@model StudentViewModel

@{
    ViewData["Title"] = "Model.FirstName";
}

<div class="">

    <form asp-action="Delete" asp-controller="Student" method="post" class="row">
        <div class="col-4">
            <div class="form-group ">
                <label asp-for="ID"></label>
                <input asp-for="ID" class="form-control" id="readOnlyInput" readonly="" type="text" />
            </div>
            <div class="form-group ">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" type="text" readonly="" />
            </div>
            <div class="form-group ">
                <label asp-for="MidName"></label>
                <input asp-for="MidName" class="form-control" type="text" readonly="" />
            </div>
            <div class="form-group ">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" type="text" readonly="" />
            </div>
            <div class="form-group ">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="text" readonly="" />
            </div>
            <button class="btn btn-primary" type="submit">Confirm</button>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>

        <div class="col-4">
            <p2>Courses:</p2>

            @foreach (var course in Model.Courses)
            {
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox"
                                   checked=""
                                   disabled=""
                                   name="selectedCourses"
                                   value="@course.CourseID" />
                        </div>
                    </div>
                    <input for="@course.Course.Name" class="form-control" id="readOnlyInput" readonly="" type="text" value="@course.Course.Name" />
                </div>
            }
        </div>

        
    </form>
</div>
