@model UserViewModel


<div class="container">
    @*<h2>@Model.FirstName @Model.LastName</h2>
    <p>Groups:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Group Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Name</td>
                </tr>
            }
        </tbody>
    </table>*@
</div>